:root {
    --primary-color: #38AA9E;
    --font-color: #202020;
    --secondary-color: #C7B6DC;
    --font: Arial, Helvetica, sans-serif;
}

html {
    background-color: var(--secondary-color, #fff);
    color: var(--font-color, #222);
}

h1,
h2,
h3,
h4,
p,
a {
    font-family: var(--font);
}
